* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Futura BK BT', sans-serif;
}


.carousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.carouselInner{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left{
    flex: 10%;
    height: 100%;
    display: grid;
    place-items: center;
}

.setasEs{
    transform: scale();
    cursor: pointer;
}

.setasDi{
    transform: scale(-1);
    cursor: pointer;
}

.carouselInner .center{
    flex: 50%;
    height: 100%;
}

.carouselInner .right{
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
}

.header{
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    margin: 0;
}

.header img{
    fill:#016795;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 3vh;
}

.textMenu{
    position: relative;
    margin: auto 1vw;
}

.header img{
    position: relative;
    height: 100%;
    width: 25%;
    margin-top: auto;
    transform: scale(0.7);
}

.logo{
    position: relative;
    height: 100%;
    width: 30%;
    
}
.logo svg{
    position: relative;
    transform: scale(0.5);
    height: 10vh;
    width: 30vw;
}

.container_logo{
    position: absolute;
    margin-top: 5%;
    height: 30vh;
    width: 100%;
}


.content01{
    position: absolute;
    height: 40%;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 35vh;
}

.content01 .text{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #ff073a, #016795);
    display: flex;
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}

@keyframes colors{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text_content01 {
    position: relative;
    height: 80%;
    width: 90%;
    margin-left: 15vw;
    font-size: 17px;
    margin-right: 10vw;
    margin-top: 5vh;
}

.img_content01{
    position: relative;
    height: 100%;
    width: 100%;
    padding-right: 10vw;
    border-top-left-radius: 200%;
    border-bottom-left-radius: 10%;
}

.img_content01 img{
    transform: scale(1.1);
}

.content02{
    position: absolute;
    height: 70%;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 90vh;
}

.img_content02{
    position: relative;
    height: 50vh;
    width: 20vw;
    margin: auto;
}

.img_content02 div{
    position: relative;
    width: 100%;
}

.img_content02 div h1{
    font-size: 5vh;
    height: 100%;
    width: 100%;
    text-align: center;
}

.img_content02 div p{
    font-size: 3vh;
    height: 100%;
    width: 100%;
    text-align: center;
}

mark {
    background-color:#ff073a;
}


.navigator{
    position: absolute;
    height: 15vh;
    width: 100%;
    margin-top: 340vh;
}

.nav_content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav_content svg{
    position: relative;
    height: 30px;
    margin: auto 5vh;
}


.slider{
    position: absolute;
    margin-top: 30vh;
    height: 100%;
    width: 100%;
}

.checkbox {
	display: none;
}

.label {
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 25px;
	width: 52px;
	transform: scale(1.3);
    margin: auto 2vw 2vw auto;
}

.label .ball {
    border-radius: 50%;
	position: absolute;
	height: 17px;
	width: 17px;
	transition: transform 0.2s linear;
    z-index: 1;
}

.material-symbols-outlined {
    position: relative;
    transform: scale(0.5);
    right: 7px;
    bottom: 5px;
    margin: auto 0.2vw;
    z-index: 0;
}

span{
    cursor: pointer;
}

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}
  
.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}


.switch--container{
    position: relative;
    margin: auto 1vw;
}

.switch--shadow + label {
    padding: 2px;
    width: 50px;
    height: 20px;
    border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
.switch--shadow + label:before {
    right: 1px;
    border-radius: 60px;
}
.switch--shadow + label:after {
    width: 50px;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
.switch--shadow:checked + label:after {
    transform: translateX(26px);
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}

::-webkit-scrollbar-track {
background: #1b2431; 
}

::-webkit-scrollbar-thumb {
background: #1e488f; 
}

::-webkit-scrollbar-thumb:hover {
background: #FF073A; 
}

.sidebar{
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: #1b2431;
}

.sidebarList{
    height: 100%;
    width: 100%;
}

.sidebarList .row:hover{
    width: 100%;
    height: 50px;
    background-color: #ff073a;
}


.btn-primary {
    --cui-btn-bg: #321fdb;
    --cui-btn-color: #e4dcc0;
}

.btn {
    background-color: var(--cui-btn-bg,transparent);
    border: 1px solid var(--cui-btn-border-color,transparent);
    border-radius: 0.25rem;
    color: var(--cui-btn-color,rgba(44,56,74,.95));
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    position: absolute;
    bottom: 0%;
    margin: auto;
    left: 15%;
}

.text_content01 input{
    display: none;
}

.content03{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #e4dcc0;
    margin-top: 175vh;
    text-align: center;
    padding: 5vh;
}

.content03 h1{
    color: #1b2431;
    font-size: 9vh;
}

.content03 p{
    color: #1b2431;
    margin-top: 4vh;
    font-size: 4vh;
}

.content04{
    position: absolute;
    height: 80%;
    width: 100%;
    background-color: #ff073a;
    margin-top: 240vh;
    text-align: center;
    padding: 5vh;
}

.inputContent04{
    background-color: #e4dcc0;
    border: none;
    outline: none;
    margin-bottom: 2vh;
    height: 25px;
    width: 500px;
}

.areaContent04{
    background-color: #e4dcc0;
    border: none;
    outline: none;
    margin-bottom: 2vh;
    height: 150px;
    width: 500px;
}

input[type=text]:focus {
  border: 3px solid transparent;
}

.textInputTitle{
    margin-bottom: 5vh;
    font-size: 10vh;
}

.textInput{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: initial;
}

@media (max-width: 412px){
    .header{
        position: absolute;
        height: 100%;
        width: 50%;
        display: none;
        padding-left: 0vw;
    }

    .logo{
        position: relative;
        height: 10%;
    }
    .logo svg {
        transform: scale(0.8);
        height: 5vh;
        width: 30vw;
    }
    
    .textMenu{
        margin: 5vw;
        width: 50%;
    }

    .iconMenu{
        position: absolute;
    }

    .switch--container {
        margin: 5vw;
        width: 50%;
    }

    .content01{
        display: block;
        margin-top: 10vh;
        height: 50vh;
    }

    .content01 .text{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg,#ff073a,#016795);
        display: inline-block;
        background-size: 300% 300%;
    }

    .text_content01 {
        position: relative;
        text-align: center;
        height: 30%;
        width: 80%;
        margin: 5vw auto;
        font-size: 10px;
        top: 45%;
    }

    .img_content01 {
        position: relative;
        height: 40%;
        width: 100%;
        border-radius: 60%;
        padding-right: 0;
        bottom: 35%;
    }

    .text{
        display: inline;
    }

    .img_content01 img {
        position: relative;
        width: 100%;
        height: 100%;
        transform: scale(0.9);
    }

    .content02 {
        position: absolute;
        height: 70%;
        width: 100%;
        display: flex;
        margin: auto;
        margin-top: 63vh;
    }

    .img_content02 {
        position: relative;
        height: 20vh;
        width: 35vw;
        margin: 7.5vw;
    }

    .img_content02 div h1 {
        font-size: 1.5vh;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    
    .img_content02 div p {
        font-size: 1vh;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .carouselInner .right {
        transform: scale(0.5);
    }

    .carouselInner .left {
        transform: scale(0.5);
    }

    .navigator {
        position: absolute;
        height: 10vh;
        width: 100%;
        margin-top: 170vh;
    }

    .nav_content {
        transform: scale(1);
    }

    .nav_content svg {
        margin: auto 2vh;
    }

    .btn {
        top: 100%;
        height: 20%;
        font-size: 1vh;
        left: 30%;
    }

    .content03 {
        position: absolute;
        height: 20%;
        width: 100%;
        background-color: #e4dcc0;
        margin-top: 95vh;
        text-align: center;
        padding: 2vh;
    }

    .content03 h1 {
        color: #1b2431;
        font-size: 2vh;
    }

    .content03 p {
        color: #1b2431;
        margin-top: 2vh;
        font-size: 1.5vh;
    }

    .content04 {
        position: absolute;
        height: 45%;
        width: 100%;
        background-color: #ff073a;
        margin-top: 120vh;
        text-align: center;
        padding: 5vh;
    }

    .textInputTitle {
        margin-bottom: 5vh;
        font-size: 2vh;
    }

    .textInput {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: initial;
    }
    .inputContent04 {
        background-color: #e4dcc0;
        border: none;
        outline: none;
        margin-bottom: 2vh;
        height: 15px;
        width: 230px;
    }
    .areaContent04{
        background-color: #e4dcc0;
        border: none;
        outline: none;
        margin-bottom: 2vh;
        height: 60px;
        width: 230px;
    }
}