* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Futura BK BT', sans-serif;
}

@media screen and (max-width: 768px){
}

.carousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.carouselInner{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left{
    flex: 10%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0%;
}

.carouselInner .center{
    flex: 50%;
    height: 100%;
}

.carouselInner .right{
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0%;
}


.left:hover{
    opacity: 100%;
}

.right:hover{
    opacity: 100%;
}

.header{
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    padding-left: 20vw;
    margin: 0;
}

.header img{
    fill:#016795;
}

.container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 3vh;
}

.header div{
    position: relative;
    margin: auto 1vw;
}

.header img{
    position: relative;
    height: 100%;
    width: 25%;
    margin-top: auto;
    transform: scale(0.7);
}


@keyframes expand {
	100% {
        width: 7vw;
	}
}

.container_logo{
    position: absolute;
    margin-top: 5%;
    height: 30vh;
    width: 100%;
}


.content01{
    position: absolute;
    height: 40%;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 35vh;
}

.text_content01{
    position: relative;
    height: 100%;
    width: 85%;
    margin-left: 23vw;
    font-size: 13px;
    margin-right: 10vw;
    margin-top: 5vh;
}
.img_content01{
    position: relative;
    height: 110%;
    width: 100%;
    padding-right: 20vw;
    background-image: linear-gradient(to bottom left, #ff073a, #016795);
    border-top-left-radius: 200%;
    border-bottom-left-radius: 10%;
}

.img_content01 img{
    transform: scale(1.5);
}

.content02{
    position: absolute;
    height: 40%;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 90vh;
}

.img_content02{
    position: relative;
    height: 50vh;
    width: 20vw;
    margin: auto;
    background-color: #ff073a;
}

mark {
    background-color:#ff073a;
}


#root > header > img{
    fill: #718f1e;
}

@keyframes viewer {
    0% {
    background-color: #ff073a;
    }
    50% {
    background-color: #1b2431;
    }
    75% {
    background-color: #016795;
    }
    100%{
        background-color: #ff073a;
    }
}


.navigator{
    position: absolute;
    height: 15vh;
    width: 100%;
    margin-top: 130vh;
    background-color: #016795;
    margin-top: 200vh;
}

.nav_content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_content img{
    max-width: 100%;
    max-height: 100%;
    transform: scale(0.4);
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


.slider{
    position: absolute;
    margin-top: 30vh;
    height: 100%;
    width: 100%;
}

.switch {
visibility: hidden;
position: absolute;
margin-left: -9999px;
}
  
.switch + label {
display: block;
position: relative;
cursor: pointer;
outline: none;
user-select: none;
}
  
.switch--shadow + label {
padding: 2px;
width: 50px;
height: 20px;
border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
display: block;
position: absolute;
top: 1px;
left: 1px;
bottom: 1px;
content: "";
}
.switch--shadow + label:before {
right: 1px;
border-radius: 60px;
}
.switch--shadow + label:after {
width: 25px;
border-radius: 100%;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
transition: all 0.4s;
}
.switch--shadow:checked + label:after {
    transform: translateX(26px);
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}

::-webkit-scrollbar-track {
background: #1b2431; 
}

::-webkit-scrollbar-thumb {
background: #1e488f; 
}

::-webkit-scrollbar-thumb:hover {
background: #FF073A; 
}